<div class="caseShowcase">

  <div class="topBar">
      <div class="greybackground" >
          <a routerLink="/addnewcase" routerLinkActive="active"><i class="fas fa-folder-plus"></i></a>
      </div>
      
      <div class="contenido">
          <form class="form-inline">
            <input class="form-control mr-sm-2 Default input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
          
      </div>
  </div>
  <div class="caseBox">
    <div class="row item-case" *ngFor="let item of res.reverse()">
      <div class="col-sm-1 item-index">
        .ird
      </div>
      <div class="col-sm-8 item-body">
        {{item.caseName}}
      </div>
      <div class="col-sm-3  item-actions">
        <ul>
          <li><a [routerLink]="['/details', item._id]"><i class="fas fa-eye"> </i></a> </li>
          <li><a href=""><i class="fas fa-edit"> </i></a></li>
          <li><a href=""><i class="fas fa-trash"></i></a></li>
        </ul>
      </div>  
    </div>
  </div>    
</div>

